<%-include("partials/header.ejs")%>

    <div class="top-container">
        <div class="title-container">
            <img src="/images/books.png" alt="books icon"/>
            <h1 class="title">Book Notes</h1>
        </div>
        <h2 class="subtitle">By Pablo Armendariz</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel metus magna. Mauris eget fringilla lacus. Suspendisse ligula magna, fringilla eu auctor at, scelerisque non metus. Nunc eu mauris et velit tempus dignissim. </p>
    </div>
    <div class="top-buttons">
        <button id="addButton" class="brown-button">
            <p>Add</p>
            <img src="/images/plus.png" alt="plus icon"/>
        </button>
        <form class="filter-dropdown">
            <select name="filter">
                <option value="" disabled selected>Filter</option>
                <option value="date">Date</option>
                <option value="asc">Rating ASC</option>
                <option value="dec">Rating DEC</option>
            </select>
        </form>
    </div>

    <% books.forEach(book => { %>
        <div class="book-container">
            <div class="book-top">
                <img src="<%= book.cover_url %>" alt="book cover"/>
                <div class="book-info">
                    <h2 class="subtitle"><%= book.title %></h2>
                    <h3 class="author-text">By <%= book.author %></h2>
                    <p class="gray-text">Date created: <%= book.date.toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "short",
                        day: "numeric"
                      }); %></p>
                    <p class="gray-text">Rating: <%= book.rating %></p>
                    <p class="info-text"><%= book.review %></p>
                </div>
            </div>
            <div class="bottom-buttons">
                <button id="editButton" class="brown-button">
                    <p>Edit</p>
                    <img src="/images/edit.png" alt="edit icon"/>
                </button>
                <button class="brown-button">
                    <p>Delete</p>
                    <img src="/images/delete.png" alt="edit icon"/>
                </button>
            </div>
        </div>
    <% }); %>

    <script src="/action/handleClick.js"></script>

<%-include("partials/footer.ejs")%>