<%-include("partials/header.ejs")%>

    <div class="top-container">
        <div class="title-container">
            <img src="/images/books.png" alt="books icon"/>
            <h1 class="title">Book Notes</h1>
        </div>
        <h2 class="subtitle">By Pablo Armendariz</h2>
        <p>Welcome to the Book Notes web app! Easily add and showcase your reads by searching ISBNs, adding reviews, and ratings (1-10). Navigate your collection effortlessly on the homepage, filtering by entry date or sorting by ascending/descending rating. Manage your bookshelf with the ability to delete or update entries. Happy reading!</p>
    </div>
    <div class="top-buttons">
        <button id="addButton" class="brown-button">
            <p>Add</p>
            <img src="/images/plus.png" alt="plus icon"/>
        </button>
        <form id="filterForm" class="filter-dropdown" action="/filter" method="GET">
            <select id="filterSelect" name="filter">
                <option value="" disabled selected>Filter</option>
                <option value="dateAsc">Date ASC</option>
                <option value="dateDesc">Date DESC</option>
                <option value="rateAsc">Rating ASC</option>
                <option value="rateDesc">Rating DESC</option>
            </select>
        </form>
    </div>

    <% books.forEach(book => { %>
        <div class="book-container">
            <div class="book-top">
                <img src="<%= book.cover_url %>" alt="book cover"/>
                <div class="book-info">
                    <h2 class="subtitle"><%= book.title %></h2>
                    <h3 class="author-text">By <%= book.author %></h2>
                    <p class="gray-text">Date created: <%= book.date.toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "short", 
                        day: "numeric"
                      }); %></p>
                    <p class="gray-text">Rating: <%= book.rating %></p>
                    <p class="info-text"><%= book.review %></p>
                </div>
            </div>
            <div class="bottom-buttons">
                <form action="/edit" method="GET">
                    <button class="brown-button" type="submit" name="editButton" value="<%= book.id %>">
                        <p>Edit</p>
                        <img src="/images/edit.png" alt="edit icon"/>
                    </button>
                </form>
                <form action="/delete" method="POST">
                    <button class="brown-button" type="submit" name="deleteButton" value="<%= book.id %>">
                        <p>Delete</p>
                        <img src="/images/delete.png" alt="edit icon"/>
                    </button>
                </form>
            </div>
        </div>
    <% }); %>

    <script src="/action/handleClick.js"></script>

<%-include("partials/footer.ejs")%>